# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/
env/
*.egg-info/
*.egg

# Jupyter/Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Output files
comparison_results.xlsx